In [3]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.1.1       √ purrr   0.3.2
√ tibble  2.1.1       √ dplyr   0.8.0.1
√ tidyr   0.8.3       √ stringr 1.4.0
√ readr   1.3.1       √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## 6번 (4)

In [1]:
A=rbind(c(1,2,3,4),c(2,2,1,0),c(0,1,-1,0),c(3,1,-1,3))
A

     [,1] [,2] [,3] [,4]
[1,] 1    2     3   4
[2,] 2    2     1   0
[3,] 0    1    -1   0
[4,] 3    1    -1   3

In [2]:
b=c(1,9,4,7)
dim(b)=c(4,1)
b

     [,1]
[1,] 1
[2,] 9
[3,] 4
[4,] 7

In [4]:
solve(A) %*% b

     [,1]
[1,]  2
[2,]  3
[3,] -1
[4,] -1